<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-inicio></app-inicio>

    <legend>LISTADO VENTAS CUENTA CORRIENTE</legend>
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="card text-white bg-dark mb-3" style="max-width: 15rem; max-height:8rem">
                <div class="card-header" align="center" >Buscar Venta</div>
                <div class="card-body">
                    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="search" >
                </div>
            </div>

            <div
          class="card text-white bg-dark mb-3"
          style="max-width: 15rem; max-height: 8rem"
        >
          <div class="card-header" align="center">
            {{ fechaActual | date: "short" }}
          </div>
          <div class="card-body" align="center">
            <img
              src="../../../assets/jpg/Laparada.png"
              width="30%"
              style="margin-right: 0px; margin-top: -20px"
              alt=""
            />
          </div>
        </div>

        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-sm table-dark table-bordered table-striped table-responsive w-100 d-block d-md-table">
            <thead class="table-light">
                <tr class="text-center">
                    <th scope="col">Productos</th>
                    <th scope="col">Forma Pago</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let venta of listadoVenta  | filter: search |  paginate: { itemsPerPage: 8, currentPage: p, totalItems: listadoVenta.length }">
                    <td scope="col">
                        <h4>{{venta.productoManual}}</h4>
                        <div *ngFor="let producto of venta.producto">
                            <h4>{{producto.nombre}} {{producto.descripcion}}</h4>
                        </div>
                    </td>
                    <td scope="col">{{venta.forma_pago}}</td>
                    <td scope="col">
                      <div *ngFor="let cliente of venta.cliente"  >
                          <h4 *ngIf="cliente.nombre!= null" > {{cliente.nombre}}</h4>
                      </div>
                  </td>
                    <td scope="col" >{{venta.fecha | date:'short'}}</td>
                    <td scope="col"><h1>$ {{venta.total}}</h1></td>
                </tr>
            </tbody>
        </table>
        <pagination-controls style="color:white;" (pageChange)="p = $event" class="my-pagination"></pagination-controls>
    </div>
</body>
</html>
