<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
</head>

<body>
    <div class="container-fluid">
        <legend>VENTAS</legend>
        <div class="container-fluid">
            <div class="row ">
                <div class="card text-white bg-dark mb-3" style="max-width: 37rem; max-height:8rem">
                    <div class="card-header">Producto</div>
                    <div class="card-body">
                        <input class="form-control" type="text" placeholder="Ingrese Codigo de Producto">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <table class="table table-xl table-dark table-striped table-bordered ">
            <thead>
                <tr class="text-center">
                    <th scope="col">Codigo</th>
                    <th scope="col">Proucto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Quitar</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td scope="col">123</td>
                    <td scope="col">Coca Cola </td>
                    <td scope="col">1</td>
                    <td scope="col"><mat-icon style="color: red">delete</mat-icon></td>
                </tr>
                <tr align="center">
                    <td scope="col">134</td>
                    <td scope="col">Doritos </td>
                    <td scope="col">1</td>
                    <td scope="col"><mat-icon style="color: red">delete</mat-icon></td>
                </tr>
                <tr align="center">
                    <td scope="col">455</td>
                    <td scope="col">Mayonesa </td>
                    <td scope="col">1</td>
                    <td scope="col"><mat-icon style="color: red">delete</mat-icon></td>
                </tr>
                <tr align="center">
                    <td scope="col">444</td>
                    <td scope="col">Harmurguesa </td>
                    <td scope="col">1</td>
                    <td scope="col"><mat-icon style="color: red">delete</mat-icon></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>