body {
    background-color: #a34483;
}

legend {
    color: white;
    text-align: center;
}

table {
    scale: 100%;
}

th {
    max-height: 50px;
    overflow: auto;
    font-size: 22px;
}

.modal .modal-content {
    background-color: #292b2c;
    color: white;
}
