body{ 
    background-color:#a34483;
}

table tbody tr td {
    text-align: center;
}

legend {
    color: white;
    text-align: center;
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}


