
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" *ngIf="isLoggedIn$ | async as isLoggedIn">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/venta"><mat-icon>shopping_cart</mat-icon>Venta</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/producto"><mat-icon>equalizer</mat-icon>Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/caja"><mat-icon> attach_money</mat-icon>Cierre Caja</a>
                    </li>
                    
                </ul>
                <form class="d-flex">
                    <a class href=""> <mat-icon>settings_power</mat-icon>Cerrar Sesion </a>
                </form>
            </div>
        </div>
    </nav>
