<div class="container-expand">
    <!-- Nav Bar Horizontal-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Contenedor fluido Nav Bar-->
        <div class="container-fluid">
            <!-- Div de las enlaces en el contenedor -->
            <div class="navbar-nav">
                <a class="nav-link active" href="#">Ventas</a>
                <a class="nav-link active" routerLink="/producto">Productos</a>
                <a class="nav-link active" href="#">Cierre Caja</a>
            </div>
        </div>
        <!-- Leyenda cerrar sesion en el extremo superior de navbar -->
        <a class="navbar-brand" href="#">
            Cerrar Sesion
        </a>
    </nav>
    <br>
    <!-- Contenedor de leyenda mas iagen dentro del Body 
    <div class="container" align="center">
        <h1>Multirubro La Parada</h1>
        <img src="../assets/jpg/Sin título.png" alt="" style="width:80%;">
    </div>
    -->
</div>