

  <div id="wrapper">
    <div class="overlay">
    </div>
    <!-- Sidebar -->
    <nav class="navbar navbar-inverse fixed-top" id="sidebar-wrapper" role="navigation">

      <ul class="nav sidebar-nav">
        <div class="sidebar-header">
          <img src="../../../assets/jpg/Laparada.png" width="100px">
          <h3 >La Parada Multirubro</h3>
          <h4 style="color:white">User: {{nombre}}</h4>
        </div>

        <li><a href="/venta">
          <mat-icon>add_shopping_cart</mat-icon> VENTAS
        </a></li>
        <li><a href="/producto">
            <mat-icon >donut_large</mat-icon> PRODUCTOS
          </a></li>
        <li><a href="/venta/cliente/null">
            <mat-icon>shopping_cart</mat-icon> HIST. VENTAS
          </a></li>
          <li><a href="/venta/cliente/not_null">
            <mat-icon>shopping_cart</mat-icon> HIST. VENTAS CC
          </a></li>
          <li><a href="/cliente">
            <mat-icon >people</mat-icon> CLIENTES
          </a></li>
        <li><a href="/caja" *ngIf="nombre == 'ADMIN'">
            <mat-icon>store</mat-icon> CIERRE CAJA
          </a></li>
          <li><a >
            <mat-icon >dashboard</mat-icon> DASHBOARD
          </a></li>
        <li><a type="button" (click)="logout()">
            <mat-icon>exit_to_app</mat-icon> CERRAR SESION
          </a></li>
      </ul>

    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div class="container">
        <div class="row">

        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
